<a href="https://colab.research.google.com/github/nepprk/project/blob/master/Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

In [1]:
t = ('python'*5)
print(t)

pythonpythonpythonpythonpython

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [2]:
character = input("Enter the character \t")
list = []
list[:0] = character
z=list[0:len(character):2]
print(z)

Enter the character 	python
['p', 't', 'o']

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [4]:
def average():
    elements = [5,7,4,9,2]
    total = sum(elements)
    average = total / len(elements)
    return average
average()

5.4

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [5]:
def leap_year():
    year = int(input("Enter the year "))
    if year % 400 == 0:
        print(f"{year} is a leap year")
    elif year % 100 == 0:
        print(f"{year} is not a leap year" )
    elif year % 4 == 0:
        print(f"{year} is a leap year")
    else:
        print(f"the {year} is not a leap year ")

leap_year()

Enter the year 2012
2012 is a leap year

### Task 4
Write code to find if the given year is a leap year or not.

In [7]:
def second_value():
    l = [21,6,12,57,35,61]
    l.sort()
    length = len(l)
    second_largest = l[length-1]
    second_smallest = l[1]
    print(second_smallest)
    print(second_largest)
second_value()

12
61

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.